* {
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    background-color: black;
    margin: 0px;
}

p#stream {
    position: relative;
    top: -15px;
    z-index: -1;
}

#stream-img {
    height: 100vh;
}

.joy {
    width:40vh;
    height:40vh;
    bottom: 0;
    position: absolute;
    z-index: 1;
}

#joy-camera {
    left: 0;
}

#joy-move {
    right: 0;
}


#line-sensor-panel {
    z-index: 1;
    position: absolute;
    bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    
    width: 350px;
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-auto-flow: row;
    justify-content: center;
    gap: 20px;
}

.line-sensor {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    opacity: 1;
}
.line-sensor-on {
    background-color: green;
}

.line-sensor-off {
    background-color: red;
}

.line-sensor-disabled {
    opacity: 0;
}


#distance-sensor-panel {
    z-index: 1;
    position: absolute;
    top: 25px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    
    width: 600px;
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-auto-flow: row;
    justify-content: center;
    gap: 10px;
}

.distance-sensor {
    width: 50px;
    height: 20px;
    opacity: 1;
}
.distance-sensor-close {
    background-color: red;
}

.distance-sensor-medium {
    background-color: yellow;
}

.distance-sensor-far {
    background-color: green;
}

.distance-sensor-disabled {
    opacity: 0.15;
}
